.story {
    width: 75%; 
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    &-shape {
        width: 15rem; 
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%); // this property makes the text wrap around the circle. 
        // In order for it to work, element must float and have height and width
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg); // best to use transform vs margin to create space for 'float'ing elements
        position: relative;
    }

    &-img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
    }

    &-text {
        transform: skewX(12deg);
    }

    &-caption {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, 20%);
        color: $color-white; 
        font-size: 1.7rem; 
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: all .5s;
    }

    &:hover &-caption{
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &-img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}